.search-input {
  border: 0;
  border-radius: 100px;
  height: 40px;
  margin: 0 auto;
  padding: 0 10px;
  width: 60%;
  transition: all .3s;

  &:active,
  &:focus {
    outline: none;
    width: 98%;
  }
}

.submit-button {
  border: 0;
  margin-left: -40px;
}
