.header-profile {
    display: flex;
    align-items: baseline;


    &__logo {
        color: white;
        margin-right: 90px;
        margin-left: 30px;
    }
}

.profile__img {
    width: 200px;
    margin-top: 40px;
    border-radius: 99px;
    padding: 50px;
}