.header-profile{
    display: flex;
    justify-content: space-evenly;

    &__logo{
        color: white;
        width: 2%;
        margin: 30px -70px;
        font-size: 20px;
    }
}

.profile__img{
    width: 200px;
    border-radius: 99px;
    padding: 50px;
}