
body{
    background-color: #082f4d;
    color: white;
   
   }
   .form-signup{
       height: 420px;
       width: 320px;
       top: 35%;
       left: 50%;
       position: absolute;
       transform: translate(-50%,-50%);
       box-sizing: border-box;
       input{
       width: 100%;
       margin-bottom: 20px;
       border:none;
       border-bottom: 1px solid #fff;
       background-color: transparent;
       outline: none;
       height: 40px;
       color: #fff;
       font-size: 16px;
       }
       button{
           border: none;
           outline: none;
           height: 40px;
           color: #fff;
           background-color: #fb2525;
           font-size: 18px;
           width: 100%;
           border-radius: 20px;
           button:hover{
               cursor: pointer;
               background: #ffc;
               color: #000;
           }
       }
       h1{
           margin: 0;
           padding: 0 0 20px;
           text-align: center;
           font-size: 22px;
       }
   }