header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;

    h1 {
        font-size: 25px;
    }
}

.user-logo {
    color: white;
    width: 2%;
    margin: 20px 0;
    font-size: 20px;
}