
body{
    background-color:#071e3d;
    font-family: sans-serif;
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.my-events__header{
    color: white;
    display: flex;
    justify-content: space-evenly;

    &__title{
        text-align: center;

    }
    &__logo{
      color: white;
      font-size: 20px;
      margin-top: 15px;
      margin-left: -90px;
    }
}

.my-events__card{
  display: flex;
  flex-direction: column;
  background-color: #1f3154; 
  min-height: 100vh;
  margin-bottom: 20px solid white;

  &__content{
    border-bottom: solid 1px;
    color: white;
    padding: 10px;
    display: flex;
  }
  &__img{
    width: 90px;
    height: 90px;
    border-radius: 15px;
    padding: 10px;
    object-fit: cover;
  }

}

