
body{
    background-color:#071e3d;
    font-family: sans-serif;
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.my-events__header{
    color: white;

    &__title{
        text-align: center;
        padding-left: 80px;

    }
}

.my-events__card{
  display: flex;
  flex-direction: column;
  background-color: #1f3154; 
  min-height: 100vh;
  margin-bottom: 20px solid white;

  &__content{
    border-bottom: solid 1px;
    color: white;
    padding: 10px;
    display: flex;
  }
  &__img{
    width: 70px;
    height: 70px;
    border-radius: 15px;
    padding: 10px;
  }

}

