.card-detail {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 0;

  &__logo {
    color: white;
    width: 2%;
    margin: 20px 0;
    font-size: 20px;
    margin-left: -250px;
  }

  &__img {
    max-width: 100%;
  }

  &__desc {
    display: flex;
    margin-bottom: 40px;
  }

  &__desc__left {
    line-height: 1;
    border: solid 1px;
    padding: 0px 8px;
    margin-top: 8px;
    margin-left: 40px;
  }

  &__desc__right {
    display: block;
    text-align: left;
    max-width: 220px;
    margin-left: 20px;
  }

  &__desc__warning {
    margin-left: 25px;
  }

  button {
    width: 60%;
    border-radius: 45px;
    background-color: red;
    border: none;
    color: white;
    font-size: 18px;
    padding: 15px;
  }

}

/*
.collapsible section p {
    display: none;
    text-align: center;

    }

    .collapsible section a {
      text-align: center;
      color:white;
      text-decoration: none;
    }

  .collapsible section a:hover{
    text-decoration: underline;
    text-align: center;
    color: white;
  }

  .collapsible section:target p {
    display: block;

    }
    */

.person__img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  object-fit: cover;

}

.asistentes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}