.card-detail{
    max-width: 480px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height: 50%;
        width: 400px;
    }
    button{
        width: 80%;
        height: 30px;
        border-radius: 20px;
        background-color: red;
        border: none;
        color: white;
        font-size: 18px;
    }
    
}

.collapsible section p {
    display: none;
    text-align: center;

    }
  
    .collapsible section a {
      text-align: center;
      color:white;
      text-decoration: none;
    }
    
  .collapsible section a:hover{
    text-decoration: underline;
    text-align: center;
    color: white;
  }
  
  .collapsible section:target p {
    display: block;
  
    }
  
